.navbar {
  position: sticky;
  top: 0;

  display: flex;
  align-items: center;

  height: 60px;
  width: 100vw;

  background-color: var(--bg);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
  z-index: 1000;
}

.navbar__nav {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  transition: 0.2s;
}

.navbar__item {
  margin-left: 30px;
  display: inline-block;
  text-align: center;
}

.navbar__item > a {
  color: #6d83f2;
  text-transform: capitalize;
}
.navbar__item > a:hover {
  cursor: pointer;
  color: #383838;
}
