.footer {
    width: 100vw;
    padding: 10px;
    margin-top: 200px;
    background: var(--gradient);
}

.footer > div {
    margin: auto;
    width: 80%;
}

.footer p {
    text-align: center;
    font-size: 1rem;
    line-height: 35px;
    color: white;
}
